<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="UCMS test suite">
            <directory>./ucms_contrib/src/Tests/</directory>
            <directory>./ucms_dashboard/src/Tests/</directory>
            <directory>./ucms_layout/src/Tests/</directory>
            <directory>./ucms_seo/src/Tests/</directory>
            <directory>./ucms_search/src/Tests/</directory>
            <directory>./ucms_site/src/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="DRUPAL_PATH" value="/var/www/monsite/public" />
        <env name="ELASTIC_HOST" value="localhost:9200" />
    </php>
</phpunit>
