ol.sortable {
  border: dashed 2px #018fe2;
  min-height: 100px;
  padding: 10px;
}
ol.ucms-highlighted-over {
  box-shadow: inset 0 0 5px 10px #018fe2;
}
ol.sortable, ol.sortable ol {
  list-style-type: none;
}
ol.sortable li {
  position: relative;
}
.sortable li div,
.sortable .ucms-placeholder {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: move;
  margin: 1px;
  padding: 10px;
  width: 400px;
  min-height: 42px;
}
.sortable li div .add-here {
  display: block;
  position: absolute;
  text-align: right;
  border: dashed 1px red;
  color: red;
  font-weight: bold;
  height: 0;
  width: 600px;
  top: -2px;
  cursor: pointer;
}
.sortable li div .add-here span {
  margin-top: -17px;
}
.sortable li div .add-after {
  top: auto;
  bottom: -2px;
}
.sortable li div span {
  float: right;
  cursor: pointer;
}

#tab-tree ol {
  list-style: none;
}
#tab-tree .tree-item {
  display: block;
  padding: 5px;
  border-radius: 6px;
  color: #000;
  background: #fff;
  margin: 2px 0;
}
#tab-tree .tree-item.active {
  color: #F00;
  font-weight: bold;
}

/* Disable animation */
#ucms-tree-tree-form .ui-sortable-helper {
  animation: none;
}
