
/*****************************************************************************
 *
 * CONTEXTUAL PANE
 *
 *****************************************************************************/

#contextual-pane {
  position: fixed;
  z-index: 110;
}
#contextual-pane.pane-right {
  top: 0;
  right: 0;
  width: 330px;
  height: 100%;
}
#contextual-pane.pane-down {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 330px;
}

.navbar {
  z-index: 120;
}

#contextual-pane .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333;
  z-index: 2;
  width: 100%;
  padding-top: 10px;
}
#contextual-pane.pane-right .inner {
  padding-top: 50px;
}

#contextual-pane .tabs {
  position: relative;
  color: #fff;
}
#contextual-pane .tabs > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
#contextual-pane .tabs > div.active {
  display: block;
}

#contextual-pane-toggle {
  position: absolute;
  display: inline-block;
  background: #333;
  font-size: 22px;
}

#contextual-pane #contextual-pane-toggle a {
  color: #999;
  display: inline-block;
}
#contextual-pane.pane-right #contextual-pane-toggle {
  top: 50%;
  right: 100%;
  border-radius: 10px 0 0 10px;
}
#contextual-pane.pane-down #contextual-pane-toggle {
  bottom: 100%;
  left: 50%;
  border-radius: 10px 10px 0 0;
}
#contextual-pane.pane-right #contextual-pane-toggle a {
  border-top: solid 1px #999;
  padding: 10px 5px 5px 5px;
}
#contextual-pane.pane-right #contextual-pane-toggle a:first-child {
  border-top: none;
  border-radius: 10px 0 0 0;
}
#contextual-pane.pane-right #contextual-pane-toggle a:last-child {
  border-radius: 0 0 0 10px;
}
#contextual-pane.pane-right #contextual-pane-toggle a:only-child {
  border-radius: 10px 0 0 10px;
}
#contextual-pane.pane-down #contextual-pane-toggle a {
  border-left: solid 1px #999;
  padding: 5px 10px 0;
  margin-left: -.25em;
}
#contextual-pane.pane-down #contextual-pane-toggle a:first-child {
  border-left: none;
  border-radius: 10px 0 0 0;
}
#contextual-pane.pane-down #contextual-pane-toggle a:last-child {
  border-radius: 0 10px 0 0;
}
#contextual-pane.pane-down #contextual-pane-toggle a:only-child {
  border-radius: 10px 10px 0 0;
}

#contextual-pane #contextual-pane-toggle a.active {
  color: #fff;
}

#contextual-pane-switch-position {
  font-size: 110%;
}

#contextual-pane > .inner > .actions {
  padding: 0 5px;
}
#contextual-pane > .inner > .actions > input {
  margin-right: 5px;
}
#contextual-pane > .inner > .actions .btn {
  margin-top: 5px;
}

#tab-notification {
  overflow-y: auto;
}

/*****************************************************************************
 *
 * FORMS IN CONTEXT PANE
 *
 *****************************************************************************/

#contextual-pane .inner input {
  background: #2d2d2d;
  border-color: #4d4d4d;
  color: #bebebe;
}
/* Minor fix for inputs in dropdowns */
#contextual-pane .dropdown-menu input {
  background: #fff;
  color: #333;
}

/*****************************************************************************
 *
 * DASHBOARD
 *
 *****************************************************************************/

#dashboard .portlet {
  min-width: 415px;
}

#dashboard .scrolling {
  overflow: auto;
  max-height: 250px;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll
}

#dashboard .panel-body {
  min-height: 280px
}

#dashboard .with-actions .panel-body {
  min-height: 225px
}

#dashboard .with-actions .scrolling {
  max-height: 195px;
}

#dashboard #porlet-ucms_site_sites_portlet table td:nth-of-type(2) {
  white-space: nowrap
}
.dropdown-menu > input,
.dropdown-menu > button {
  display: block;
  padding: 0 20px;
  line-height: 1.42857143;
  white-space: nowrap;
  clear: both;
  font-weight: 400;
  color: #333;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}
.dropdown-menu > button:focus,
.dropdown-menu > button:hover,
.dropdown-menu > input:focus,
.dropdown-menu > input:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  border: none;
}
