
#contextual-pane {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  z-index: 10;
}

#contextual-pane .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333;
  z-index: 2;
  padding: 70px 0 0 0;
  width: 100%;
}

#contextual-pane-toggle {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -1em;
  right: 100%;
  background: #333;
  padding: 10px 0 10px 5px;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}
