<ul>
  {% for site in sites %}
    <li>
      <a href="{{ url('sso/goto/' ~ site.id, {'query':{'destination': 'node/' ~ node.id}}) }}">
        {{ site.title }}
      </a>
    </li>
  {% endfor %}
</ul>
