<div id="ucms-contrib-cart">
  <div id="ucms-cart" class="container-fluid">
    <div class="col-md-12">
      <h2 class="sr-only">{{ "Your cart"|t }}</h2>
      {{ actions }}
      {{ display }}
    </div>
    <div id="ucms-cart-list" data-can-receive="1" class="clearfix">
      {{ items }}
    </div>
  </div>
  <div id="ucms-cart-trash" class="progress-bar-danger progress-bar-striped">
    <span class="glyphicon glyphicon-trash"></span>
  </div>
</div>
