/* Slide wrapper */
#ucms-contrib-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
}

#ucms-cart-toggle {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -1em;
  right: 100%;
  background: #333;
  padding: 10px 0 10px 5px;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}

#ucms-cart {
  position: absolute;
  top: 0;
  bottom: 6em;
  background: #333;
  z-index: 2;
  padding: 0;
  width: 100%;
}

#ucms-cart.drop-highlighted {
  border: dashed 5px #fff;
  transition: .5s;
}

#ucms-cart .error{
  clear: both;
  padding: 5px;
  font-weight: bold;
  color: #f00;
}

#ucms-cart .item-list ul {
  list-style: none;
  padding: 5px;
}

#ucms-cart .item-list a {
  color: #fff;
  font-weight: bold;
}

#ucms-cart h2 {
  color: #fff;
}

.toolbar #ucms-cart {
  padding-top: 30px;
}

.ucms-cart-item {
  overflow: hidden;
  height: 100px;
  padding-left: 0;
  padding-right: 0;
}

.ucms-cart-item h2 {
  font-size: 12px;
}

.ucms-cart-item > form {
  display: none;
}

.ucms-cart-item:hover > form {
  display: block;
}

.ucms-cart-item img {
  width: 100%;
  height: 100%;
}

.ucms-cart-item h2 a {
  color: white;
  font-weight: bold;
}

.ucms-cart-item h2 {
  background-color: #333;
}

.ui-draggable-dragging {
  z-index: 10;
}

#ucms-cart-trash {
  position: absolute;
  background: #600;
  color: #fff;
  bottom: 0;
  width: 220px;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
}

#ucms-cart-trash span {
  margin: .25em;
  font-size: 3em;
  display: inline-block;
}

#ucms-cart-trash.drop-highlighted {
  border: dashed .4em #fff;
  transition: .5s;
}
#ucms-cart-trash.drop-highlighted-hover {
  box-shadow: inset 0 0 0 10px #ca281d;
}

#ucms-cart-trash.drop-highlighted span {
  margin: .4em;
}
#ucms-cart-trash span {
  margin: .5em;
  font-size: 3em;
}

body [data-region].drop-highlighted {
  border: dashed .2em #018fe2;
  min-height: 2em;
  transition: .5s;
  position: static;
}

body [data-region].drop-highlighted-hover {
  box-shadow: inset 0 0 0 10px #19e200;
}

.block-ucms-layout.ucms-layout-empty-block, .ucms-layout-empty-region {
  display: none;
}
.ucms-layout-empty-block-hover, .ucms-layout-empty-region-hover {
  position: static !important;
}

.region-page-top {
  z-index: 2;
}

#page-wrapper {
  z-index: 1;
}

.ui-draggable {
  cursor: move;
  z-index: 100;
}
.ui-draggable.ui-draggable-dragging {
  background: #fff;
}

.ui-sortable-helper {
  max-width: 120px;
  max-height: 100px;
  overflow: hidden;
  background: #fff;
}
