<p>
  {{ "Your registration has been recorded and is waiting for validation."|trans }}
  <br/><br/>
  {{ "Once validated, you will receive an e-mail notification inviting you to set your password."|trans }}
</p>
