{% extends 'module:ucms_contrib:views/Page/page-cart.html.twig' %}

{% block cart_header %}
  <div data-page-block="search_form">
    {{ block('search_form') }}
  </div>
  <div data-page-block="sort_links">
    {{ block('sort_links') }}
  </div>
{% endblock %}

{% block trash %}{% endblock %}
{% block css_id %}{% endblock %}
