{# No spaces between tags for inline-block override #}
<div class="dropbutton-wrapper">
  <div class="dropbutton-widget">
    <ul class="dropbutton">
      {% for groups in [primary, secondary] %}
        {% for group in groups %}
          {% for action in group %}
            <li>
              <a href="{{ ucms_actions_url(action) }}">{{ action.title }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
